<section class="container py-8 py-lg-10">
    <h1 class="position-relative mb-5">What is <u class="brand-underline">Burnout?</u></h1>

    <div class="row">
        <div class="col-md-6">
            <p class="lead pb-5">{{jen.db.home.fields.whatIsBurnout}}</p>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-around px-xl-5 mt-xl-4">
                <div class='matchstick matchstick-1'></div>
                <div class='matchstick matchstick-2'></div>
                <div class='matchstick matchstick-3'></div>
                <div class='matchstick matchstick-4'></div>
                <div class='matchstick matchstick-5'></div>
                <div class='matchstick matchstick-6'></div>
                <div class='matchstick matchstick-7'></div>
                <div class='matchstick matchstick-8'></div>
                <div class='matchstick matchstick-9'></div>
                <div class='matchstick matchstick-10'></div>
                <div class='matchstick matchstick-11'></div>
                <div class='matchstick matchstick-12'></div>
                <div class='matchstick matchstick-13'></div>
            </div>
        </div>
    </div>

</section>